/* Global */
* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
}

/* Main window */
window {
    background-color: rgba(0, 0, 0, 100);
    border: 1px solid #2a2a2a;
    border-radius: 2px;
}

/* Outer container */
#outer-box {
    margin: 0px;
    padding: 5px;
}

/* Input box */
#input {
    background-color: transparent;
    color: #e6e6e6;

    border: none;
    border-bottom: 1px solid #2a2a2a;

    padding: 10px 4px;
    margin-bottom: 20px;

    outline: none;
}

/* Scroll container */
#scroll {
    margin: 0px;
}

/* Entry list */
#inner-box {
    margin: 0px;
    padding: 0px;
}

/* Individual entries */
#entry {
    padding: 6px 4px;
    color: #9a9a9a;
}

/* Hover */
#entry:hover {
    color: #ffffff;
}

/* Selected item */
#entry:selected {
    background-color: transparent;
    color: #ffffff;
}

/* Icons */
#img {
    margin-right: 10px;
}

/* Text */
#text {
    color: inherit;
}
