/* Global */
* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
}
/* Main window */
window {
    background-color: #d0cdcc;
    border: 2px solid #908d8c;
    border-radius: 2px;
}
/* Outer container */
#outer-box {
    margin: 0px;
    padding: 5px;
}
/* Input box */
#input {
    background-color: transparent;
    color: #1a1a1a;
    border: none;
    padding: 10px 4px;
    margin-bottom: 20px;
    outline: none;
}
/* Scroll container */
#scroll {
    margin: 0px;
}
/* Entry list */
#inner-box {
    margin: 0px;
    padding: 0px;
}
/* Individual entries */
#entry {
    padding: 6px 4px;
    color: #908d8c;
}
/* Hover */
#entry:hover {
    color: #1a1a1a;
}
/* Selected item */
#entry:selected {
    background-color: transparent;
    color: #1a1a1a;
}
/* Icons */
#img {
    margin-right: 10px;
}
/* Text */
#text {
    color: inherit;
}
